@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello hello</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* Zadanie 1.
Dodaj do modelu klasę gatunków zwierząt. Powiąż każde zwierzątko z gatunkiem do którego przynależy. Wygeneruj
kontrolery i widoki do zarządzania gatunkami (dodawanie, edycja, usuwanie, szczegóły itp.)
Informacje na temat EntityFrameworka LINQ2Entity itp. znajdziesz np. tutaj:
https://msdn.microsoft.com/en-us/data/jj572366 *@