body {
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
    font-size: 1.7em;
  }

header {
    display: flex;
    color: rgb(93, 93, 96);
    background-color: white;
    text-align: center;
    height: 20vh;
    justify-content: center;
    flex-direction: column;
  }
  
nav {
  display: flex;
  justify-content: right;
}

.navShadow {
  background-color: black;
  border-radius: 50% 0 0 50%;
}

.navLogo {
  border-radius: 50%;
  margin: 5vw;
  height: 120px;
}

h1 {
    color: rgb(193,13,20);
    margin: 0;
  }

main {
  text-align: center;
  justify-content: center;
  align-content: center;
  display: flex;
  height: 70vh;
}

.suprise {
  width: 100vw;
  align-self: center;
}


.footer {
    display: flex;
    background-color: #808080;
    height: 10vh;
    justify-content: center;
    align-items: center;
  }
  .aghLogo {
    justify-content: center;
    align-items: center;
    height: 60px;
    text-align: center;
  }
  
