body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 1.7em;
}

header {
  display: flex;
  color: rgb(93, 93, 96);
  background-color: white;
  text-align: center;
  height: 25vh;
  justify-content: center;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: right;
}

.navShadow {
  background-color: black;
  border-radius: 50% 0 0 50%;
  height: 194px;
  width: 224px;
  justify-content: center;
  display: flex;
}

.navLogo {
  border-radius: 50%;
  margin: 5px;
  height: 100px;
}

h1 {
  color: rgb(193, 13, 20);
  margin: 0;
}

.smallTitle {
  font-size: small;
}

main {
  background-color: white;
  display: flex;
  height: 65vh;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  background-image: radial-gradient(#c4bfbf 20%, #ffffff 20%);
  background-position: 0 0;
  background-size: 7px 7px;
  width: 100%;
}

.picContainer {
  display: flex;
  flex-direction: row;
  width: 35vw;
  align-items: center;
  background-color: rgb(32, 32, 32);
  border-radius: 0 50% 50% 0;
}

.funny {
  width: 90%;
  height: auto;
}

.listContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 65vw;
  margin-top: 100px;
}

dl {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

img {
  height: 130px;
}

img:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  background-color: #808080;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
.aghLogo {
  justify-content: center;
  align-items: center;
  height: 60px;
  text-align: center;
}

@media screen and (max-width: 768px) {

  h1, h2 {
    font-size: 15px;
  }
  .contentContainer {
    margin: 0;
    
  }
  .navShadow {
    height:20vh;
  
  }

  iframe {
    width: auto;
    height: auto;
  }
  /* .suprise {
    width: 600px;
    background-color: blue;
  
} */
}