body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 1.7em;
}

header {
  display: flex;
  color: rgb(93, 93, 96);
  background-color: white;
  text-align: center;
  height: 25vh;
  justify-content: center;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.navShadow {
  background-color: black;
  border-radius: 50% 0 0 50%;
  height: 194px;
  width: 224px;
  justify-content: center;
  display: flex;
}

.navLogo {
  border-radius: 50%;
  margin: 5px;
  height: 100px;
}

h1 {
  color: rgb(193, 13, 20);
  margin: 0;
}

.smallTitle {
  font-size: small;
}

main {
  background-color: white;
  display: flex;
  height: 65vh;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  background-image: radial-gradient(#c4bfbf 20%, #ffffff 20%);
  background-position: 0 0;
  background-size: 7px 7px;
  width: 100%;
}

.picContainer {
  display: flex;
  flex-direction: row;
  width: 40vw;
  align-items: center;
  background-color: rgb(32, 32, 32);
  border-radius: 0 50% 50% 0;
}

.funny {
  width: 90%;
  height: auto;
}

.listContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 30vw;
}

dl {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

img {
  height: 130px;
}

img:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleContainer {
  position: relative;
}

.smallCircle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(193, 13, 20);
  margin-top: 60px;
}

.bigCircle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #808080;
  position: absolute;
  top: 115px;
  left: 130px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 30vw;
  color: #ffffff;
  justify-content: center;
  margin: 30px;
}

.formTitle,
label {
  text-align: right;
  font-size: 20px;
}

form {
  text-align: right;
}

.pickList {
  text-align: right;
}

.formShadow {
  background-color: black;
  border-radius: 50% 0 0 50%;
  height: 350px;
  width: 20vw;
  justify-content: center;
  display: flex;
  margin-top: auto;
}

.formShadow:hover {
  background-color: rgb(193, 13, 20);
}

.footer {
  display: flex;
  background-color: #808080;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

.aghLogo {
  justify-content: center;
  align-items: center;
  height: 60px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 15px;
  }

  .contentContainer {
    margin: 0;
  }

  .navShadow {
    height: 20vh;
  }

  .listContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 40vw;
  }

  iframe {
    width: auto;
    height: auto;
  }

  .smallCircle,
  .bigCircle,
  .circleContainer {
    display: none;
  }
}
