body {
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-size: 1.7em;
}

header {
  display: flex;
  color: rgb(93, 93, 96);
  background-color: white;
  text-align: center;
  height: 20vh;
  justify-content: center;
  flex-direction: column;
}

nav {
    display: flex;
  justify-content: right;
}

.navLogo{
border-radius: 50%;
margin-right: 10vw;
height: 120px;
}

h1 {
  color: #66fcf1;
  margin: 0;
}

main {
  background-color: white;
  display: flex;
  height: 70vh;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  height: 70%;
}

.picContainer {
  display: flex;
  flex-direction: row;
  width: 35vw;
  align-items: center;
  background-color: rgb(32, 32, 32);
  border-radius: 0 50% 50% 0;
}

.funny {
  width: 90%;
  height: auto;
}

.shadow {
  display: flex;
  align-items: end;
  height: 23vh;
  border-radius: 50% 50% 0 0;
  background: rgb(128, 128, 128);
  background: linear-gradient(
    0deg,
    rgba(128, 128, 128, 1) 0%,
    rgba(252, 252, 252, 1) 100%
  );
}

.listContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 65vw;
}

dl {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

img {

  height: 100px;
}

img:hover
 {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  background-color: #808080;
  height: 10vh;
  justify-content: center;
  align-items: center;
}
.aghLogo {
  justify-content: center;
  align-items: center;
  height: 60px;
  text-align: center;
}
